@import '~bootstrap/dist/css/bootstrap.css';
@import 'assets/fonts/Inter/inter.css';
@import 'assets/fonts/CMG\ Sans/cmgsans.css';
body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fit-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  text-align: center;

  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.stream-screen {
  color: #ffffff;
  background-color: #00ff00;
  font-family: 'CMG Sans Caps', sans-serif;
  font-weight: 700;
}

/* Backgrounds */
.status-black-screen, .status-lyrics, .bg-black {
  background-color: black;
}

/* Grid */

.row {
  margin-right: -6px;
  margin-left: -6px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 6px;
  padding-left: 6px;
}

/* Testes */

nav ul {
  height: 200px;
  width: 200px;
}

nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

.only-fullscreen {
  display: none;
}

.only-standalone {
  display: none;
}

.only-browser {
  display: none;
}

@media (display-mode: fullscreen) {
  .only-fullscreen {
    display: block !important;
  }
}

@media (display-mode: standalone) {
  .only-standalone {
    display: block !important;
  }
}

@media (display-mode: browser) {
  .only-browser {
    display: block !important;
  }
}

.normal-500 {
  font-family: 'CMG Sans';
  font-stretch: normal;
  font-weight: 500;
}

.normal-600 {
  font-family: 'CMG Sans';
  font-stretch: normal;
  font-weight: 600;
}

.normal-700 {
  font-family: 'CMG Sans';
  font-stretch: normal;
  font-weight: 700;
}

.caps-500 {
  font-family: 'CMG Sans Caps';
  font-stretch: normal;
  font-weight: 500;
}

.caps-600 {
  font-family: 'CMG Sans Caps';
  font-stretch: normal;
  font-weight: 600;
}

.caps-700 {
  font-family: 'CMG Sans Caps' !important;
  font-stretch: normal !important;
  font-weight: 700 !important;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3), 0px 0px 8px rgba(0, 0, 0, 0.3);
}